# Default ignored files
/shelf/
./out/
out
out/production/*
out/production/TpoParadigmaOrientadoAobjetos
out/production/TpoParadigmaOrientadoAobjetos/Classes
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

